.main {
    text-align: center;
}

.main__subtitulo {
    font-size: 14px;
    padding: 4px 12px;
    color: var(--cor-vinho);
    display: inline-block;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 16px;

}

.main__titulo {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--cor-azul-escuro);
    margin: 20px 0px;
}

.main__frase{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--cor-cinza);
}

.main__imagem{
    margin: 64px auto auto 0;
}